<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SharpLite.Properties.Settings.SQLite" connectionString="Data Source=sqlite.db"
            providerName="Devart.Data.SQLite" />
    </connectionStrings>
    
    <system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.SQLite" />
      <add name="dotConnect for SQLite" invariant="Devart.Data.SQLite" description="Devart dotConnect for SQLite" type="Devart.Data.SQLite.SQLiteProviderFactory, Devart.Data.SQLite" />
    </DbProviderFactories>
    </system.data>
    
</configuration>